*{
	font-family: 'LXGW WenKai', 'Fira Code', Arial, Helvetica, sans-serif;
	font-size: 1rem;
	color: white;
}
body {
	height: 100vh;
	width: 100vw;
	background-color: #000;
}
div.contents {
	margin-top: 60px;
	width: min-content;
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
}
div.row {
	display: flex;
	width: fit-content;
	min-height: 1em;
	border-bottom: 1px solid #888;
}
div.row:first-child {
	background-color: #222;
	border-top: 1px solid #888;
	font-weight: bold;
}
div.row div.cell:first-child {
	border-left: 1px solid #999;
}
div.row div.cell {
	border-right: 1px #999 solid;
	min-height: 1em;
	white-space: nowrap;
}
.searchbar {
	background-color: #222;
	color: aliceblue;
	border: solid #888;
	border-radius: 5px;
	border-width: 1px;
	width: calc(100% - 1rem);
}
.navigation {
    background: rgba(255, 143, 202, 0.50);
    width: 100%;
    box-shadow: 0 0 5px rgba(255, 120, 228, 0.25);
    padding: 0;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    overflow: hidden;
}
.navi {
    width: 100%;
    overflow: hidden;
}
.navi li {
    display: inline;
    text-align: center;
    width: 70px;
    font-size: 19px;
    margin-right: 20px;
}
.navi li a {
    color: #ffffff;
    text-decoration: none;
}
.search {
	position: absolute;
    right: 1rem;
}